#table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid grey;
}

th {
  background-color: rgb(90, 90, 90);
  color: white;
}
